USE [Crop_Advisory]
GO
/****** Object:  StoredProcedure [dbo].[GetAdvisoryHistory]    Script Date: 6/25/2026 12:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAdvisoryHistory] @Farm_name varchar(20)
as begin
    declare @farm_id int
    select @farm_id = f.farm_id
    from Farm as f
    where farm_name = @Farm_name


    select 
    al.advisory_id,
    al.generated_date,
    c.crop_name,
    c.crop_category,
    al.match_score,
    w.average_temp_c,
    w.rainfall_mm
    from Advisory_Logs as al
    inner join Crops as c on c.crop_id = al.crop_id
    inner join Weather_Record as w on w.weather_id = al.weather_id
    where al.farm_id = @Farm_id
    order by al.generated_date desc
end
GO
/****** Object:  StoredProcedure [dbo].[GetBestCropRecommendationsByFarmer]    Script Date: 6/25/2026 12:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBestCropRecommendationsByFarmer]
    @TargetFarmerId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- CTE to calculate ranks based on match_score per farm
    WITH RankedRecommendations AS (
        SELECT 
            c.crop_name,
            c.crop_category,
            al.match_score,
            al.temp_val,
            al.rain_score,
            al.ph_score,
            DENSE_RANK() OVER (
                PARTITION BY f.farm_id 
                ORDER BY al.match_score DESC, al.generated_date DESC
            ) as score_rank
        FROM Advisory_Logs al
        INNER JOIN Farm f ON al.farm_id = f.farm_id
        INNER JOIN Crops c ON al.crop_id = c.crop_id
        WHERE f.farmer_id = @TargetFarmerId
    )
    -- Filter to return only the top-ranked crop(s) for each farm asset
    SELECT 
        crop_name,
        crop_category,
        match_score,
        temp_val,
        rain_score,
        ph_score
    FROM RankedRecommendations
    ORDER BY match_score DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetCropAfterQuery]    Script Date: 6/25/2026 12:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Ouput the results of the advisory query
CREATE procedure [dbo].[GetCropAfterQuery] @Farm_name varchar(100)
as begin
    declare @farm_id int
     SELECT @Farm_id = f.farm_id
    FROM Farm AS f
    WHERE f.farm_name = @Farm_name;

     SELECT 
        al.crop_id,
        c.crop_name,
        c.crop_category,
        al.generated_date,
        al.temp_val,
        al.ph_score,
        al.rain_score,
        al.match_score
    FROM Advisory_Logs as al
    join Crops as c
    on c.crop_id = al.crop_id
    where al.farm_id = @farm_id
    ORDER BY match_score DESC;
end
GO
/****** Object:  StoredProcedure [dbo].[GetCropByFarmName]    Script Date: 6/25/2026 12:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCropByFarmName] 
    @Farm_name VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; 

    DECLARE @Farm_id INT;
    DECLARE @Location_id INT;
    DECLARE @GeneratedDate DATETIME = GETDATE();

    -- Step 1: Find the Farm ID and Location ID
    SELECT @Farm_id = farm_id, @Location_id = location_id
    FROM Farm
    WHERE farm_name = @Farm_name;

    IF @Farm_id IS NULL
    BEGIN
        RAISERROR('Farm not found', 16, 1);
        RETURN;
    END;

    -- Step 2: Extract Weather metrics with expanded safe storage capacities
    DECLARE @Weather_id INT;
    DECLARE @AvgTemp DECIMAL(6,2);   -- Scaled up
    DECLARE @Rainfall DECIMAL(7,2);  -- Scaled up to support values > 999.99
    
    SELECT TOP 1 
        @Weather_id = weather_id,
        @AvgTemp = average_temp_c,
        @Rainfall = rainfall_mm
    FROM Weather_Record 
    WHERE location_id = @Location_id
    ORDER BY record_date DESC;

    IF @Weather_id IS NULL
    BEGIN
        INSERT INTO Weather_Record (location_id, record_date, average_temp_c, min_temp_c, max_temp_c, rainfall_mm, humidity_pct)
        VALUES (@Location_id, @GeneratedDate, 25.0, 20.0, 30.0, 10.0, 60);
        
        SET @Weather_id = SCOPE_IDENTITY();
        SET @AvgTemp = 25.0;
        SET @Rainfall = 10.0;
    END;

    -- Step 3: Extract Soil metrics 
    DECLARE @Soil_id INT, @PhLevel DECIMAL(4,2), @SoilTypeId INT;

    SELECT TOP 1 
        @Soil_id = soil_id,
        @PhLevel = ph_level,
        @SoilTypeId = soil_type_id
    FROM Soil_Profile 
    WHERE farm_id = @Farm_id
    ORDER BY sample_date DESC;

    IF @Soil_id IS NULL
    BEGIN
        SET @Soil_id = 1;      
        SET @PhLevel = 6.5;    
        SET @SoilTypeId = 1;   
    END;

    -- Step 4: Run recommendation calculations securely
    BEGIN TRANSACTION;

    ;WITH RawCalculations AS (
        SELECT 
            @Farm_id AS farm_id,
            c.crop_id,
            @Weather_id AS weather_id,
            @Soil_id AS soil_id,

            -- Temperature Evaluation
            CASE 
                WHEN @AvgTemp BETWEEN c.min_temp_c AND c.max_temp_c THEN 1.0
                ELSE CASE 
                        WHEN (1.0 - (ABS(@AvgTemp - ((CAST(c.min_temp_c AS DECIMAL(6,2)) + CAST(c.max_temp_c AS DECIMAL(6,2))) / 2.0)) * 0.02)) < 0 THEN 0.0
                        ELSE (1.0 - (ABS(@AvgTemp - ((CAST(c.min_temp_c AS DECIMAL(6,2)) + CAST(c.max_temp_c AS DECIMAL(6,2))) / 2.0)) * 0.02))
                       END
            END AS temp_score,

            -- pH Evaluation
            CASE 
                WHEN @PhLevel BETWEEN c.min_ph AND c.max_ph THEN 1.0
                ELSE CASE 
                        WHEN (1.0 - (ABS(@PhLevel - ((CAST(c.min_ph AS DECIMAL(4,2)) + CAST(c.max_ph AS DECIMAL(4,2))) / 2.0)) * 0.20)) < 0 THEN 0.0
                        ELSE (1.0 - (ABS(@PhLevel - ((CAST(c.min_ph AS DECIMAL(4,2)) + CAST(c.max_ph AS DECIMAL(4,2))) / 2.0)) * 0.20))
                       END
            END AS ph_score,

            -- Rainfall Evaluation (FIXED: Uses DECIMAL(7,2) to handle large crop thresholds)
            CASE 
                WHEN @Rainfall BETWEEN c.min_rainfall_mm AND c.max_rainfall_mm THEN 1.0
                ELSE CASE 
                        WHEN (1.0 - (ABS(@Rainfall - ((CAST(c.min_rainfall_mm AS DECIMAL(7,2)) + CAST(c.max_rainfall_mm AS DECIMAL(7,2))) / 2.0)) * 0.002)) < 0 THEN 0.0
                        ELSE (1.0 - (ABS(@Rainfall - ((CAST(c.min_rainfall_mm AS DECIMAL(7,2)) + CAST(c.max_rainfall_mm AS DECIMAL(7,2))) / 2.0)) * 0.002))
                       END
            END AS rain_score
        FROM Crops c
        WHERE EXISTS (
            SELECT 1
            FROM Crop_Soil_Junction csj
            WHERE csj.crop_id = c.crop_id
            AND csj.soil_type_id = @SoilTypeId
        )
    ),
    TopRankedCrops AS (
        SELECT TOP 3
            farm_id, crop_id, soil_id, weather_id, temp_score, ph_score, rain_score,
            ( (temp_score * 40.0) + (ph_score * 40.0) + (rain_score * 20.0) ) AS calculated_match_score
        FROM RawCalculations
        ORDER BY ( (temp_score * 40.0) + (ph_score * 40.0) + (rain_score * 20.0) ) DESC
    )

    INSERT INTO Advisory_Logs (
        farm_id, crop_id, soil_id, weather_id, generated_date, match_score, ph_score, rain_score, temp_val
    )
    SELECT
        farm_id, crop_id, soil_id, weather_id, @GeneratedDate, calculated_match_score, ph_score, rain_score, temp_score
    FROM TopRankedCrops;

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetCropGapAnalysis]    Script Date: 6/25/2026 12:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GetCropGapAnalysis] @Farm_name varchar(20)
as begin
	set nocount on;

	declare @Farm_id int
	select @Farm_id = f.farm_id
	from Farm as f
	where farm_name = @Farm_name;

	with LatestWeather as (
		select top 1 w.*
		from Weather_Record as w
		inner join Farm as f
		on f.location_id = w.location_id
		where f.farm_id = @Farm_id
		order by w.record_date desc
	), LatestSoil as (
		select top 1 s.*
		from Soil_Profile as s
		where s.farm_id = @Farm_id
		order by sample_date desc
	),

	GapAnalysisMatrix AS (
        SELECT 
            c.crop_id,
            c.crop_name,
            
            -- Temperature Metrics
            CASE WHEN lw.average_temp_c BETWEEN c.min_temp_c AND c.max_temp_c THEN 'PASS' ELSE 'FAIL' END AS temp_status,
            CASE 
                WHEN lw.average_temp_c < c.min_temp_c THEN (c.min_temp_c - lw.average_temp_c) * -1
                WHEN lw.average_temp_c > c.max_temp_c THEN (lw.average_temp_c - c.max_temp_c)
                ELSE 0.0 
            END AS temp_distance_from_threshold,
            CASE 
                WHEN lw.average_temp_c BETWEEN c.min_temp_c AND c.max_temp_c THEN 1.0
                WHEN 1.0 - (ABS(lw.average_temp_c - ((c.min_temp_c + c.max_temp_c) / 2.0)) * 0.02) > 0 THEN 
                     1.0 - (ABS(lw.average_temp_c - ((c.min_temp_c + c.max_temp_c) / 2.0)) * 0.02)
                ELSE 0.0 
            END AS temp_accuracy,

            -- pH Metrics
            CASE WHEN ls.ph_level BETWEEN c.min_ph AND c.max_ph THEN 'PASS' ELSE 'FAIL' END AS ph_status,
            CASE 
                WHEN ls.ph_level < c.min_ph THEN (c.min_ph - ls.ph_level) * -1
                WHEN ls.ph_level > c.max_ph THEN (ls.ph_level - c.max_ph)
                ELSE 0.0 
            END AS ph_distance_from_threshold,
            CASE
                WHEN ls.ph_level BETWEEN c.min_ph AND c.max_ph THEN 1.0
                WHEN 1.0 - (ABS(ls.ph_level - ((c.min_ph + c.max_ph) / 2.0)) * 0.20) > 0 THEN
                     1.0 - (ABS(ls.ph_level - ((c.min_ph + c.max_ph) / 2.0)) * 0.20)
                ELSE 0.0
            END AS ph_accuracy,

            -- Rainfall Metrics
            CASE WHEN lw.rainfall_mm BETWEEN c.min_rainfall_mm AND c.max_rainfall_mm THEN 'PASS' ELSE 'FAIL' END AS rain_status,
            CASE 
                WHEN lw.rainfall_mm < c.min_rainfall_mm THEN (c.min_rainfall_mm - lw.rainfall_mm) * -1
                WHEN lw.rainfall_mm > c.max_rainfall_mm THEN (lw.rainfall_mm - c.max_rainfall_mm)
                ELSE 0.0 
            END AS rain_distance_from_threshold,
            CASE 
                WHEN lw.rainfall_mm BETWEEN c.min_rainfall_mm AND c.max_rainfall_mm THEN 1.0
                WHEN 1.0 - (ABS(lw.rainfall_mm - ((c.min_rainfall_mm + c.max_rainfall_mm) / 2.0)) * 0.002) > 0 THEN
                     1.0 - (ABS(lw.rainfall_mm - ((c.min_rainfall_mm + c.max_rainfall_mm) / 2.0)) * 0.002)
                ELSE 0.0
            END AS rain_accuracy

        FROM Crops c
        CROSS JOIN LatestWeather as lw
        CROSS JOIN LatestSoil as ls
    )

    -- 3. Return the diagnostic results sorted by total proximity to success
    SELECT top 3
        crop_name,
        temp_status,
        temp_distance_from_threshold,
        rain_status,
        rain_distance_from_threshold,
        ph_status,
        ph_distance_from_threshold,
        -- Calculated overall proximity matrix for background verification if needed
        ((temp_accuracy * 40.0) + (ph_accuracy * 40.0) + (rain_accuracy * 20.0)) AS proximity_score
    FROM GapAnalysisMatrix
    -- CRITICAL FILTER: Only show crops that failed at least one criteria
    WHERE temp_status = 'FAIL' 
       OR rain_status = 'FAIL' 
       OR ph_status = 'FAIL'
    -- ORDER BY DESC: Higher proximity scores mean the crop was closer to passing
    ORDER BY proximity_score;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSoilImprovement]    Script Date: 6/25/2026 12:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetSoilImprovement]
    @farm_id INT,
    @target_crop_name VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @current_ph DECIMAL(4,2);
    DECLARE @min_crop_ph DECIMAL(4,2);
    DECLARE @max_crop_ph DECIMAL(4,2);
    DECLARE @variance DECIMAL(4,2);
    
    -- FIXED: Changed from TEXT to VARCHAR(MAX) to resolve Msg 2739
    DECLARE @suggestion VARCHAR(MAX); 

    -- Grab latest field pH
    -- FIXED: Fixed table name casing from SOIL_PROFILE to Soil_Profile to match your schema
    SELECT TOP 1 @current_ph = ph_level 
    FROM Soil_Profile 
    WHERE farm_id = @farm_id 
    ORDER BY sample_date DESC;

    -- Grab crop requirements
    SELECT TOP 1 @min_crop_ph = min_ph, @max_crop_ph = max_ph 
    FROM Crops
    WHERE crop_name = @target_crop_name;

    -- Check if either the farm or crop wasn't found to avoid math errors with NULL
    IF @current_ph IS NULL OR @min_crop_ph IS NULL
    BEGIN
        SELECT 'Error: Farm soil profile or target crop requirements data missing.' AS soil_improvement_recommendation;
        RETURN;
    END;

    -- Compute and output actionable text based on soil variance
    IF @current_ph < @min_crop_ph
    BEGIN
        SET @variance = @min_crop_ph - @current_ph;
        SET @suggestion = 'Your soil is too acidic for ' + @target_crop_name + ' by ' + CAST(@variance AS VARCHAR(10)) + ' pH points. Consider applying agricultural limestone (calcium carbonate) to raise soil pH levels to at least ' + CAST(@min_crop_ph AS VARCHAR(10)) + '.';
    END
    ELSE IF @current_ph > @max_crop_ph
    BEGIN
        SET @variance = @current_ph - @max_crop_ph;
        SET @suggestion = 'Your soil is too alkaline for ' + @target_crop_name + ' by ' + CAST(@variance AS VARCHAR(10)) + ' pH points. Consider adding elemental sulfur or organic mulches to safely lower the pH level down to ' + CAST(@max_crop_ph AS VARCHAR(10)) + '.';
    END
    ELSE
    BEGIN
        SET @suggestion = 'Soil pH level (' + CAST(@current_ph AS VARCHAR(10)) + ') is currently optimal for cultivation of ' + @target_crop_name + '. No immediate chemical amendments needed.';
    END

    SELECT @suggestion AS soil_improvement_recommendation;
END;
GO
